<h1>New question</h1>

<% form_for [@quiz, @question] do |f| %>
  <%= render :partial => 'questions/fields', :locals => { :f => f } %>

  <p>
    <%= f.submit "Create", :class => "button" %>
  </p>
<% end %>

<%= link_to 'Back', quiz_questions_path(@quiz) %>
