<p><b>Please read the instructions carefully before you start the test</b></p>
<ul>
  <li>Please make sure your internet connection is uninterrupted. We are not responsible for any glitches either in your systems or connections</li>
  <li>There will be no second chance given to anyone on any reason, however genuine the reason may be</li>
  <li>You will be able to access the test only once</li>
  <li>You are expected to end the test in 15 minutes! Any amount of time exceeding 15 minutes will contribute in reducing your IQ score accordingly (the formula is designed as such)</li>
  <li>There will be no timer shown on the screen. Hence you need to ensure the time limit by your esteemed judgment</li>
  <li>Beware of negative marking</li>
  <li>All questions carry equal weightage</li>
  <li>Your evaluated IQ score along with the solutions for you test will be sent to your mail later as a concern for your curiosity</li>
  <li>Any conflicts or clash of views are subjected to the jurisdiction of the event coordinators themselves</li>
</ul>

<%= link_to "Take the test", take_path, :confirm => "Are you sure you want to start the test? \nThe test can not be retaken once started." %>